.standard-img-size {
  width: 128px;
  height: 128px;
}
#navigation #back {
  float: left;
  background: url('../img/back-button.png');
  width: 128px;
  height: 128px;
}
#navigation #reset {
  float: left;
  background: url('../img/reset-button.png');
  width: 128px;
  height: 128px;
}
#navigation #status {
  float: right;
  width: 128px;
  height: 128px;
}
#navigation .play {
  background: url('../img/play-button.png');
}
#navigation .rewind {
  background: url('../img/rewind-button.png');
}
#navigation .stop {
  background: url('../img/stop-button.png');
}
#navigation #level-no {
  float: left;
  font-size: 30px;
  color: #FFF;
  text-align: center;
  width: 78%;
}
#instructions #instructions-inner {
  border-radius: 5px;
  height: 800px;
  width: 600px;
  float: right;
}
#level .level-inner {
  height: 62vh;
  padding: 5px;
}
#next {
  display: none;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 500px;
  background: url('../img/forward-button.png');
  width: 256px;
  height: 256px;
}
