.standard-img-size {
  width: 128px;
  height: 128px;
}
.standard-ins-size {
  width: 128px;
  height: 64px;
}
#navigation #back {
  float: left;
  background: url('../img/back-button.png');
  width: 128px;
  height: 128px;
}
#navigation #status {
  float: right;
  width: 128px;
  height: 128px;
}
#navigation .play {
  background: url('../img/play-button.png');
}
#navigation .rewind {
  background: url('../img/rewind-button.png');
}
#navigation .stop {
  background: url('../img/stop-button.png');
}
#navigation #reset {
  float: right;
  background: url('../img/reset-button.png');
  width: 128px;
  height: 128px;
  margin-right: 15px;
}
#navigation #level-no {
  height: 128px;
  background: url('../img/outline.png');
  float: left;
  font-size: 80px;
  color: #FFF;
  text-align: center;
  width: 128px;
  padding: 5px 0px 0px 4px;
}
#bin {
  background: url('../img/bin.png');
  width: 128px;
  height: 128px;
  position: absolute;
  right: 143px;
  bottom: 15px;
  display: none;
  z-index: 1;
}
#bin ul {
  min-height: 128px;
  color: #00BFFF;
}
#blockly #blockly-inner {
  border-radius: 5px;
  height: 570px;
  width: 450px;
  float: right;
}
#instructions {
  display: inline-block;
  float: right;
  margin-right: 15px;
}
#instructions h4 {
  width: 128px;
  text-align: center;
  float: left;
}
#instructions .instructions-inner {
  background: #73DCFF;
  border-radius: 5px;
  width: 128px;
  clear: left;
  float: left;
}
#instructions ul {
  list-style: none;
}
#instructions li img {
  float: right;
  clear: right;
  width: 128px;
  height: 64px;
  cursor: move;
}
#level .level-inner {
  height: 80vh;
  padding: 5px;
}
#level .direction {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 256px;
  height: 256px;
  background: url('../img/direction.png');
  z-index: 1;
}
#program {
  display: inline-block;
  float: right;
  position: relative;
}
#program h4 {
  width: 128px;
  text-align: center;
  clear: both;
  float: right;
}
#program .program-inner {
  clear: both;
  background: #73FFB9;
  border-radius: 5px;
  width: 128px;
  display: block;
  float: right;
  height: 586px;
}
#program .program-inner ul {
  list-style: none;
  margin-left: -40px;
}
#program .program-inner li img {
  float: left;
  width: 128px;
  height: 64px;
}
#program .highlight {
  border: solid thick #FFF;
}
#program ul[dnd-list],
#program ul[dnd-list] > li {
  position: relative;
}
#program ul[dnd-list] li {
  position: relative;
  display: block;
}
#program ul[dnd-list] .dndDraggingSource {
  display: none;
}
#program .dndDragging {
  opacity: 0.7;
}
#program .itemlist {
  min-height: 64px !important;
}
#program .itemlist li {
  border: none;
  color: #fff;
  float: left;
  height: 64px;
  text-align: center;
  width: 128px;
  cursor: move;
}
#next {
  display: none;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 15px;
  background: url('../img/forward-button.png');
  width: 128px;
  height: 128px;
}
