@import "variables";
@import "mixins";

#navigation {
    #back {
        float: left;
        .back-img('back-button');
        .standard-img-size;
    }

    #reset {
        float: left;
        .back-img('reset-button');
        .standard-img-size;
    }

    #status {
        float: right;
        .standard-img-size;
    }

    .play {
        .back-img('play-button');
    }

    .rewind {
        .back-img('rewind-button');
    }

    .stop {
        .back-img('stop-button');
    }

    #level-no {
        float:left;
        font-size: 30px;
        color: #FFF;
        text-align: center;
        width: 78%;
    }
}

#instructions {
    .instructions-inner {
        background: #73DCFF;
        border-radius: 5px;
        width: 128px;
        float: right;
    }

    ul {
        list-style: none;
    }

    li img {
        float: right;
        clear: right;
        .standard-img-size;
    }
}

#level {
    .level-inner {
        height: 62vh;
        padding: 5px;
    }
}

#program {
    position: absolute;
    bottom: 15px;

    .program-inner {
        background: #73FFB9;
        border-radius: 5px;
        height: 256px;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;

        ul {
            list-style: none;
            margin-left: -40px;
        }

        li img {
            float: left;
            .standard-img-size;
        }
    }

    .highlight {
        border: solid thick #FFF;
    }

    ul[dnd-list] > li {
    	position: relative;
    }
}

#next {
    display: none;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 500px;
    .back-img('forward-button');
    width: 256px;
    height: 256px;
}
