@import "variables";
@import "mixins";

#navigation {
    #back {
        float: left;
        .back-img('back-button');
        .standard-img-size;
    }

    #status {
        float: right;
        .standard-img-size;
    }

    .play {
        .back-img('play-button');
    }

    .rewind {
        .back-img('rewind-button');
    }

    .stop {
        .back-img('stop-button');
    }

    #reset {
        float: right;
        .back-img('reset-button');
        .standard-img-size;
        margin-right: 15px;
    }

    #level-no {
        .standard-img-size;
        .back-img('outline');
        float:left;
        font-size: 80px;
        color: #FFF;
        text-align: center;
        width: 128px;
        padding: 5px 0px 0px 4px;
    }
}

#bin {
    .back-img('bin');
    .standard-img-size;
    position: absolute;
    right: 143px; //128+15
    bottom: 15px;
    display: none;
    z-index: 1;

    ul {
        min-height: 128px;
        color: #00BFFF;
    }
}

#blockly {
    #blockly-inner {
        border-radius: 5px;
        height: 650px;
        width: 450px;
        float: right;
    }
}

#instructions {
    display: inline-block;
    float: right;
    margin-right: 15px;

    h4 {
        width: 128px;
        text-align: center;
        float: left;
    }

    .instructions-inner {
        background: #73DCFF;
        border-radius: 5px;
        padding: 3px 0;
        width: 128px;
        clear: left;
        float: left;
    }

    ul {
        list-style: none;
    }

    li img {
        float: right;
        clear: right;
        .standard-ins-size;
        cursor: move;
    }
}

#level {
    .level-inner {
        height: 80vh;
        padding: 5px;
    }

    .direction {
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 256px;
        height: 256px;
        .back-img('direction');
        z-index: 1;
    }
}

#program {
    display: inline-block;
    float: right;
    position: relative;

    h4 {
        width: 128px;
        text-align: center;
        clear: both;
        float: right;
    }

    .program-inner {
        clear: both;
        background: #73FFB9;
        padding: 3px 0;
        border-radius: 5px;
        width: 128px;
        display: block;
        float: right;
        height: calc(3px + 3px + (11 * 50px));

        ul {
            list-style: none;
        }

        li img {
            float: left;
            .standard-ins-size;
        }
    }

    .highlight {
        //border: solid 1px #FFF;
    }

    // angular drag drop lists styling

    ul[dnd-list],
    ul[dnd-list] > li {
    	position: relative;
    }

    ul[dnd-list] li {
        position: relative;
        display: block;
    }

    ul[dnd-list] .dndDraggingSource {
        display: none;
    }

    .dndPlaceholder {
        background-color: #FFF !important;
        padding: 5px;
        border-radius: 5px;
        min-height: 50px;
        display: block;
        position: relative;
    }

    .dndDragging {
        opacity: 0.7;
    }

    .itemlist {
        min-height: 50px !important;
    }

    .itemlist li {
        border: none;
        color: #fff;
        float: left;
        height: 50px;
        text-align: center;
        width: 128px;
        cursor: move;
        margin-left: -40px;
    }
}

#next {
    display: none;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 15px;
    .back-img('forward-button');
    width: 128px;
    height: 128px;
}
