@import "variables";
@import "mixins";

#navigation {
    .back {
        float: left;
        .back-img('back-button');
        width: 128px;
        height: 128px;
    }

    .reset {
        float: left;
        .back-img('reset-button');
        width: 128px;
        height: 128px;
    }

    .play {
        float: right;
        .back-img('play-button');
        width: 128px;
        height: 128px;
    }
}

#instructions {
    .up-instruction {
        float: right;
        clear: right;
        .back-img('up-instruction');
        width: 128px;
        height: 128px;
        margin-bottom: 10px;
    }
}
