// External includes
// Favicon
link(rel="icon" href="img/favicon.png" type="image/png")

// Stylesheets
link(rel="stylesheet" href="libs/normalize-css/normalize.css")
link(rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.css")
link(rel="stylesheet" href="css/styles.css")
link(rel="stylesheet" href="css/game.css")

// JavaScript libraries
script(src="libs/jquery/dist/jquery.js")
script(src="libs/jquery-ui/jquery-ui.min.js")
script(src="libs/angular/angular.min.js")
script(src="libs/angular-route/angular-route.min.js")
script(src="libs/angular-resource/angular-resource.min.js")
script(src="libs/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js")
script(src="libs/html2canvas/build/html2canvas.min.js")
script(src="libs/canvas2image/canvas2image/canvas2image.js")
script(src="libs/FileSaver.js/FileSaver.min.js")
script(src="libs/three.js/build/three.min.js")
script(src="libs/tween.js/src/tween.js")
script(src="libs/google-blockly/blockly_compressed.js")
script(src="libs/google-blockly/blocks_compressed.js")
script(src="libs/google-blockly/javascript_compressed.js")
script(src="libs/interpreter/acorn_interpreter.js")
script(src="libs/google-blockly/msg/js/en.js")

// Internal angular includes
script(src="client/app.module.js")

// Utility modules
script(src="client/components/utilities/logger/logger.module.js")
script(src="client/components/utilities/logger/logger.service.js")
script(src="client/components/utilities/timer/timer.module.js")
script(src="client/components/utilities/timer/timer.service.js")
script(src="client/components/utilities/screenshot/screenshot.module.js")
script(src="client/components/utilities/screenshot/screenshot.service.js")

// Game module
script(src="client/components/game/game.module.js")
script(src="client/components/game/factories/instruction.factory.js")
script(src="client/components/game/services/direction/direction.service.js")
script(src="client/components/game/services/program/program.service.js")
script(src="client/components/game/services/movement/movement.service.js")
script(src="client/components/game/services/level/level.service.js")
script(src="client/components/game/services/image/image.service.js")
script(src="client/components/game/services/light/light.service.js")
script(src="client/components/game/services/log/log.service.js")
script(src="client/components/game/constants/state.constants.js")
script(src="client/components/game/constants/ENV.constants.js")
script(src="client/components/game/constants/levels.constants.js")
script(src="client/components/game/constants/common.constants.js")
script(src="client/components/game/route-config.js")
script(src="client/components/game/game.controller.js")
script(src="client/components/game/directives/grid.directive.js")
script(src="client/components/game/directives/blockly.directive.js")
