div(ng-controller="Game as vm")
    #navigation.col-md-12
        .back
        .reset
        .play
    #level.col-md-10
        .level-inner
    #instructions.col-md-2
        // to be removed and replaced with angular list elements!
        .up-instruction
        .up-instruction
        .up-instruction
    #program.col-md-10
        .program-inner
