include ../../assets/xml/toolbox.html

#navigation.col-md-12
    //- #back
    #reset
    #level-no
    #status.play
#level.col-md-6
    .level-inner
        dim-grid-directive
#instructions.col-md-6
    #instructions-inner
        dim-blockly-directive
#next
