div(ng-controller="Game as vm")
    #navigation.col-md-12
        .back
        .reset
        .play
    #level.col-md-10
        .level-inner
    #instructions.col-md-2
        ul
          li(ng-repeat='ins in vm.ins') {{ ins }}
    #program.col-md-10
        .program-inner
