div(ng-controller="Game as vm")
    #navigation.col-md-12
        .back
        .reset
        .play
    #level.col-md-10
        .level-inner
    #instructions.col-md-2
        ul
          li(ng-repeat='ins in vm.instructions') 
            img(id='{{ins.id}}' ng-src='{{ins.src}}')
    #program.col-md-10
        .program-inner
