include ../../assets/xml/toolbox.html

#navigation.col-md-12
    //- #back
    #reset
    #level-no
    #status.play
#level.col-md-8
    .level-inner
#blockly.col-md-4
    #blockly-inner
        dim-blockly-directive
#next
