include ../../assets/xml/toolbox.html

#navigation.col-md-12
    //- #back
    #reset
    #level-no
    #status.play
#level.col-md-10
    .level-inner
        dim-grid-directive
#instructions.col-md-2
    .instructions-inner
#program.col-md-11
    #blocklyDiv
    dim-blockly-directive
#next
