#navigation.col-md-12
    .back
    .reset
    .play
#level.col-md-10
    .level-inner
        dim-grid-directive
#instructions.col-md-2
    ul
      li(ng-repeat='ins in vm.instructions') 
        img(class='{{ins.name}}' ng-src='{{ins.src}}' ng-click='vm.addToProgram(ins)' data-drag='true' jqyoui-draggable)
#program.col-md-10
    .program-inner
        ul
            li(ng-repeat='ins in vm.program track by $index') 
                img(class='{{ins.name}}' ng-src='{{ins.src}}' ng-click='vm.removeFromProgram($index)')
                
