// External includes
script(src="libs/jquery/dist/jquery.js")
script(src="libs/jquery-ui/jquery-ui.min.js")
script(src="libs/angular/angular.min.js")
script(src="libs/angular-route/angular-route.min.js")
script(src="libs/angular-resource/angular-resource.min.js")

// Internal angular includes
script(src="client/app.module.js")
script(src="client/components/game/game-controller.js")
