// External includes
// Stylesheets
link(rel="stylesheet" href="libs/normalize-css/normalize.css")
link(rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.css")
link(rel="stylesheet" href="css/game.css")

// JavaScripts
script(src="libs/jquery/dist/jquery.js")
script(src="libs/jquery-ui/jquery-ui.min.js")
script(src="libs/angular/angular.min.js")
script(src="libs/angular-route/angular-route.min.js")
script(src="libs/angular-resource/angular-resource.min.js")

// Internal angular includes
script(src="client/app.module.js")

// Game module
script(src="client/components/game/game.module.js")
script(src="client/components/game/factories/instruction.factory.js")
script(src="client/components/game/services/program.service.js")
script(src="client/components/game/game.js")
