#config(ng-if="!vm.userId && !vm.type")
    include config.jade
#videos(ng-if="vm.userId && vm.type && !vm.gameStart")
    include videos.jade
#game(ng-if="vm.userId && vm.type && vm.gameStart")
    #navigation.col-md-12
        #level-no
        #pause.unpaused
        #status.play
        #reset
    #lightbot(ng-if="vm.type === 'lightbot'")
        #level.col-md-9
            .level-inner
        include lightbot.jade
    #blocks(ng-if="vm.type === 'blockly'")
        #level.col-md-8
            .level-inner
        include blockly.jade
