include ../../assets/xml/toolbox.html

#navigation.col-md-12
    #level-no
    #status.play
    #reset
#level.col-md-8
    .direction
    .level-inner
        dim-three-directive
#blockly.col-md-4
    #blockly-inner
        dim-blockly-directive
#next
